* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Roboto Mono', monospace;
}

body {
    background-color: #add5fa;
    display: block;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 5rem;
    background-color: #95b8f6;
    color: white;
    box-shadow: 0 0.1rem 0.4rem rgb(0 0 0 / 50%);
}

main {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.contenedor {
    display: flex;
    flex-direction: column;
    width: 35rem;
    max-width: 90%;
    margin: 50px;
    background-color: #95b8f6;
    border-radius: 0.50em;
    padding: 2rem;
    box-shadow: 0 0.1rem 0.4rem rgb(0 0 0 / 50%);
}

label {
    margin-bottom: 0.5rem;
    font-size: large;
}

input {
    width: 100%;
    padding: 0.5rem;
    border-radius: 0.25em;
    border: none;
    margin-bottom: 1rem;
}

button {
    width: 50%;
    padding: 0.25rem;
    cursor: pointer;
    font-weight: bolder;
}